body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,111111+66,2b2b2b+76,1c1c1c+91,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 66%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#111111 66%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#111111 66%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-position: center;
    background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-color: #111111;
}
#movie-buttons {
	padding: 10px 15px;
}
button, form, #add-movie {
	padding: 10px 15px;
	margin: 10px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
}
#movie-form {
	width: 100%;
	float: left;
}
#movie-input-label {
	color: #ffffff;
}
input, input[type="submit"] {
	padding: 10px 15px;
	margin: 10px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	padding: 10px 15px;
	margin: 10px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;

}
#movie-gifs .gif {
	margin: 15px;
}
